In [50]:
import pandas as pd
import os # use this to access your environment variables
import requests # this will be used to call the APIs
import numpy as np
import json #json parsing libraries
import datetime

In [80]:
#this data was taken from the public source: https://divvybikes.com/system-data

In [51]:
divvy = pd.read_csv('202110-divvy-tripdata.csv')

In [52]:
divvy.keys()

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [71]:
df = pd.DataFrame()

In [72]:
df['started_at'] = pd.to_datetime(divvy['started_at'])

In [73]:
df['ended_at'] = pd.to_datetime(divvy['ended_at'])

In [76]:
df['duration'] = df['ended_at'] - df['started_at']

In [77]:
df.head()

           started_at            ended_at        duration
0 2021-10-22 12:46:42 2021-10-22 12:49:50 0 days 00:03:08
1 2021-10-21 09:12:37 2021-10-21 09:14:14 0 days 00:01:37
2 2021-10-16 16:28:39 2021-10-16 16:36:26 0 days 00:07:47
3 2021-10-16 16:17:48 2021-10-16 16:19:03 0 days 00:01:15
4 2021-10-20 23:17:54 2021-10-20 23:26:10 0 days 00:08:16

In [79]:
df.describe() 
#here we can see the average ride duration. This should give us some confidence in assuming most rides will start and end within just a few miles, 
#assuming certain things about the speed of the average person on the sturdy(heavy) bikes used by Divvy.
#So data about commuters is most likely to be found within just a few miles of CTA stations.

,started_at,ended_at,duration
count,631226,631226,631226
mean,2021-10-15 08:38:27.364172544,2021-10-15 08:57:32.918018560,0 days 00:19:05.553846007
min,2021-10-01 00:00:09,2021-10-01 00:03:11,0 days 00:00:00
25%,2021-10-08 12:25:58.249999872,2021-10-08 12:46:34,0 days 00:05:56.250000
50%,2021-10-15 05:31:57,2021-10-15 05:56:26.500000,0 days 00:10:23
75%,2021-10-21 19:25:00.750000128,2021-10-21 19:37:25,0 days 00:18:39
max,2021-10-31 23:59:49,2021-11-03 21:45:48,28 days 06:25:01
std,NaN,NaN,0 days 02:43:30.556308008